@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: inter, sans-serif;
    background-color: #d5d5d5 ;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center; 
}

h1 {
    font-size: 96px;
    margin-bottom: 10px;
    line-height: .5em;
}

h2 {
    font-size: 48px;
    margin: 5px;
}

.title {
    position: relative;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    text-align: right;
    padding-right: 60px;
    padding-top: 10px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

a:hover {
    background-color: #f2f2f200;
    color: rgb(118, 118, 118);
    filter: blur(1px)
}

small {
    font-size: 24px;
} 

/* .fadeInOut {
    animation: fadeInOut 4s linear 1 forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

    } */

.image-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
}

.carousel-button{
    height: 100px;
    width: 100px;
    border-radius: 40%;
    background-color: aqua;
    text-align: center;
    opacity: .5;
    position: absolute;
    top: 50%;
    width:auto;
    padding:16px;
    margin-top: -22px
}

.next {
    right:0;
}

.prev {
    left: 0
}

img {
    height: 100px;
    width: 100%;
    position: relative
}


/* Intersection Observer CSS */

/* .hidden {
    opacity: 0;
    filter: blur(6px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
/* .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
} */

@media (max-width: 1150px) {

    .title {
        position: relative;
        margin-top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
     font-size: 96px;
     margin-bottom: 0px;
     line-height: .8em;
    }
    
}

@media (max-width: 600px) {

    .title {
        position: relative;
        margin-top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
     font-size: 96px;
     margin-bottom: 0px;
     line-height: .8em;
    }
}