@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: inter, sans-serif;
    background-color: #d5d5d5 ;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center; 
}

h1 {
    font-size: 96px;
    margin-bottom: 10px;
    line-height: .5em;
}

h2 {
    font-size: 48px;
    margin: 5px;
}

.title {
    position: relative;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    text-align: right;
    padding-right: 60px;
    padding-top: 10px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

small {
    font-size: 24px;
} 

.form {
    background-color: aqua;
}

.hidden {
    opacity: 0;
    filter: blur(6px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.hiddenRight {
    opacity: 0;
    filter: blur(6px);
    transform: translateX(100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}

/* 
.slide {
    width: calc(100%/5);
    height: 100%;
    float: left;
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.container-carousel {
max-width: 1000px;
position: relative;
margin: 100px;
}

.carousel {
    width: 600px;
    height: 700px;
    overflow: hidden;
}

.inner-carousel {
    width: 500%;
    height: 100%;
    position: relative;
    left: -100%;
}

.button {
    width: 30px;
    height: 30px;
    border-top: 2px solid black;
    position: absolute;
}
.prev, .next {
    position: absolute;
    top:50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white; 
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    cursor: pointer;
}
.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.prev:hover {
    opacity: .2;
} 
.next:hover {
    opacity: .2;
}

/* advance indicator */
/* .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: red;
}

/* number of photos */
/* .numberPhoto {
    color: blue;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* .description {
    color: pink;
    font-size: 12px;
    position: absolute;
    text-align: center;

} */



@media (max-width: 1150px) {

    .title {
        position: relative;
        margin-top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
     font-size: 96px;
     margin-bottom: 0px;
     line-height: .8em;
    }
    
}

@media (max-width: 600px) {

    .title {
        position: relative;
        margin-top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
     font-size: 96px;
     margin-bottom: 0px;
     line-height: .8em;
    }
}